<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body  id="bdy" data-id="<%= token %>" >
    <h1>Connect Your Bank Account</h1>

    <form action="">
      <label for="userId"> Enter User ID:</label>
      <input type="text" id="userId" name="userId" required />
    </form>

    <!-- Button to trigger Plaid Link -->
    <button id="link-button">Link Bank Account</button>
    <button id="acctDetails">view account details</button>

    <!-- Include Plaid Link script -->
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
   
    <script>
      document.getElementById('acctDetails').onclick = async function(){
        const token = document.getElementById('bdy').getAttribute('data-id');
        console.log(`Account details for user ${token}`);
        fetch("/api/get_account_details", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ 
                token: token
               }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("Account details:", data);
              });
      }
    </script>
    <script>
      
      async function createLinkToken(UserId) {
        console.log("i am called first");
        const response = await fetch("/api/create_link_token", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ id: UserId }),
        });
        const data = await response.json();
        console.log("i am called", data.token.linkToken);
        return data.token.linkToken;
      }

      // Handle Plaid Link button click
      document.getElementById("link-button").onclick = async function () {
        const UserId = document.getElementById("userId").value;
        
        const linkToken = await createLinkToken(UserId);
        document.getElementById("userId").value = "";
        
        console.log(`Link Token: ${linkToken}`);
        const token = document.getElementById("bdy").getAttribute("data-id");

        const handler = Plaid.create({
          token: linkToken,
          onSuccess: function (public_token, metadata) {
            console.log("Public Token:", public_token);
            // Send public token to your server for access token exchange
            fetch("/api/exchange_public_token", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ public_token: public_token,
                id: UserId
               }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("fundingSourceUrl:", data);
              });
          },
          onExit: function (error, metadata) {
            if (error) {
              console.error(error);
            }
          },
        });
        handler.open();
      };
    </script>
  </body>
</html>
